.player {
    /* //https://www.gameart2d.com/cute-girl-free-sprites.html */
    background-image: url('img/animidle.gif');
    position: relative;
    width: 25px;
    height: 25px;
}

.moveRight {
    animation: 1s ease-in-out 1s 1 running slidein;
    background-image: url('img/runRight.gif');
}

.moveLeft {
    animation: 1s ease-in-out 1s 1 reverse running slidein;
}

.moveDown {
    animation: 1s ease-in-out 1s 1 reverse running slidein;
    background-image: url('img/Walk.gif');
}

.moveUp {
    background-image: url('img/walkUP.gif');
}

.start {
    background-image: url('img/anifloor.gif');
}

.cell {
    height: 25px;
    width: 25px;
}

.row {
    display: flex;
}

.wall {
    background-image: url('img/anitile.gif');
}

.floor {
    background-image: url('img/anifloor.gif');
}

.win {
    background-image: url('img/winjump.gif');
    animation: 1s linear 2s 5 alernate bounce;
}